div.center.jumbotron.jumboinitial
  h1 Inventos Digitais Challenge
  - if user_signed_in?
      h3
        = "#{current_user.name.titleize},  Welcome  to the System."
      = link_to 'Manage Projects', projects_path, class: "btn btn-lg purple-button"
      = link_to 'See Bug List', bugs_path, class: "btn btn-lg red-button"

  - else
      = link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg purple-button"
