= content_for :title do
  = 'Log in'

.text-center
  h1 Log in

.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
    .panel.panel-default
      .panel-body
        = semantic_form_for resource, :url => session_path(resource_name) do |f|

          - unless resource.errors.empty?
            = render 'layouts/error_messages', object: resource               
              
          = f.inputs do
            .form-group
              = f.input :email, :required => true, :required => true,  :input_html => {:class => "form-control"}
            .form-group
              = f.input :password, :required => true, :input_html => {:autocomplete => "off", :class => "form-control"}

          = f.actions do
            = f.action :submit, :label => "Log in", :button_html => { :disable_with => t(:wait), :class => "btn btn-primary btn-block" }
            
