= semantic_form_for @project do |f|
  - unless @project.errors.empty? 
    = render 'layouts/error_signup_messages', object: @project
  = f.inputs 
    .form-group
      = f.input :name,  :input_html => {:autofocus => true, :class => "form-control" }
    .form-group
      = f.input :project_manager,  :input_html => {:autocomplete => "off", :class => "form-control"}
    .form-group
      = f.input :description, :as => :text, :input_html => {:autocomplete => "off", :class => "form-control"}
    .form-group
      = f.input :area, :collection => [ "Information Technology", "Education", "Finance", "Tourism", "Sales and Marketing"], :input_html => {:autocomplete => "off", :class => "form-control"}, :wrapper_html => { :class => 'fl' }
    .form-group
      = f.input :state, :as => :select, :collection => ["Not started", "In progress", "Completed"], :input_html => {:autocomplete => "off", :class => "form-control margin-left-40"}
    .form-group
      = f.input :date_create, :label => "Start Date", :input_html => {:autocomplete => "off", :class => "form-control"}, :as => :date_picker, :wrapper_html => { :class => 'fl' }
    .form-group
      = f.input :date_finished, :label => "Finish Date",  :input_html => {:autocomplete => "off", :class => "form-control"}, :as => :date_picker

  = f.actions
    = f.action :submit, :as => :input, :button_html => { :disable_with => t(:wait), :class => "btn btn-success btn-block" } 
