div class="center jumbotron background-system project project-create"
  h1 Editing Project
  
  = render 'form', project: @project 
  
  div class= "end-of-content"
    = link_to 'Back', projects_path 
    = link_to 'Show', @project  
