div class=" jumbotron background-system project"

  h1 Projects
  table  class="table" 
    thead 
      tr
        th Name
        th Project Manager 
        th Description
        th Start Date
        th Date Finished
        th Area
        th State
        th Edit
    tbody
      - @projects.each do |project| 
        tr
          th scope="row" = link_to project.name, project 
          td = project.project_manager 
          td = truncate(project.description, :length => 55, :separator => ' ') 
          td = project.date_create
          td = project.date_finished 
          td = project.area 
          td = project.state 
          td 
              = link_to '', edit_project_path(project), :class => "glyphicon glyphicon-pencil"
              = link_to '', project, method: :delete, data: { confirm: 'Are you sure?' },  :class => "glyphicon glyphicon-remove"
    
  div class= "end-of-content"
    = link_to 'New Project', new_project_path
    = link_to 'Bugs List', bugs_path
    = link_to 'Report a Bug', new_bug_path
