div class="jumbotron background-system project project-show"

  h3  Project 
  
  h1
    = @project.name.titleize
  
  p
    strong Project manager: 
    = @project.project_manager 
  
  p
    strong Description: 
    = @project.description 
  p
    strong Date create: 
    = @project.date_create

  p
    strong Date finished: 
    = @project.date_finished 

  p
    strong Area: 
    = @project.area 

  p
    strong State: 
    = @project.state 

  div class= "end-of-content"
    = link_to 'Back', projects_path 
    = link_to 'Edit', edit_project_path(@project) 
