= semantic_form_for @bug do |f| 
  - unless @bug.errors.empty? 
    = render 'layouts/error_signup_messages', object: @bug

  = f.inputs do 
    .form-group
      = f.input :project, :input_html => {:autocomplete => "off", :class => "form-control"}
    .form-group
      = f.input :title,  :input_html => {:autofocus => true, :class => "form-control" } 
    .form-group
      = f.input :description, :input_html => {:autocomplete => "off", :class => "form-control"} 

  = f.actions do 
    = f.action :submit, :as => :input, :label => "Report", :button_html => { :disable_with => t(:wait), :class => "btn btn-danger btn-block" } 
