div class="jumbotron background-system bug"
  h1 Bugs
  
  table  class="table table-responsive"
    thead
      tr
        th Title
        th Description
        th Project
        th Status
        th Fix
    tbody
      - @bugs.each do |bug| 
        tr
          th scope="row" = link_to bug.title, bug 
          td = truncate(bug.description, :length => 60, :separator => ' ')
          td = bug.project.name 
          td
            strong =(bug.solved ? "Fixed" : "Not fixed")
          td 
            - if bug.solved == false
                - bug.solved = true
                = link_to "", bug_path(:bug => bug.attributes, :id => bug.id), :method => :put, :class => "glyphicon glyphicon-ok"

  div class= "end-of-content"
    = link_to 'See Projects', projects_path 
  
    = link_to 'Report a Bug', new_bug_path 
  