div.jumbotron.background-system.bug-show

  h1 = @bug.title.titleize 
  p
    strong Project: 
    = @bug.project.name
  
  p
    strong Description: 
    = @bug.description
  
  p
    strong Status: 
    = (@bug.solved ? "Fixed" : "Not fixed")
  
  div.end-of-content
    = link_to 'Back', bugs_path
