@import "bootstrap-sprockets";
@import "bootstrap";


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$purple: #7C4DFF;
$purple-transparent: rgba(124, 77, 255, 0.8);
$black-transparent: rgba(0,0,0,0.6);
$red-transparent: rgba(242, 0, 0, 0.85);
$green-transparent: rgba(0, 255, 60, 0.90);
$yellow-transparent: rgba(255, 248, 3, 0.79);

@mixin card {
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

@mixin alert-properties{
  text-align: left;
  position: fixed;
  top: 50px;
  right: 0;
  width: 25%;
  font-weight: bold;
  color: white !important;
  border-color: none;
}

@mixin button-personalize ($some-color){
  font-family: 'Tahoma';
  background: $some-color;
  transition: all 0.4s;
  margin-bottom: 4px;
  margin-left: 10px;
  border: 1px solid $some-color;
  &:hover{
    color: $some-color;
    background-color: white;
    padding: 12px 18px;
    margin-bottom: 0px;
    margin-left: 6px;
  }
}

@mixin show-content($some-color){
  width: 60%;
  border: 1px dashed $some-color ;
  h1{
    color: $some-color ;
    sup{
      font-size: 0.6em;
    }
  }
  p{
    font-size: 1.35em;
  }
  strong{
    color: $some-color;
  }
  a{
    color: black;
    margin-top: 20px;
    &:hover{
      color: $some-color;
    }
  }
  
}

/* universal */

body {
  padding-top: 30px;
  background-color:$purple;
  color: white;
  font-family: 'Khula', 'Tahoma',sans-serif !important;
}

p{
  font-family:'Khula' !important;
}

a{
  font-weight: bold;
}

a:visited{
  color: inherit;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

table {
  text-align: center;
  
  thead th {
    text-align: center;
    font-weight: bold;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a:visited{
  color: inherit;
}

/* header */

#logo a {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 20px;
  font-weight: bold;
  &:hover {
    color: $purple;
    text-decoration: none;
  }
}

.menu-bar{
  background-color: $black-transparent;
}

nav ul{
  float:right;
  margin: 0px;
  padding: 5px;
  a{
    color: white;
    transition: all 0.2s;
    &:hover{
      color: $purple;
      background-color: white !important;
      font-weight:bold;
    }
  }
}

.nav-bar{
  float: right;
  ul li{
    display:inline-block;
  }
}

.nav li{
 display:inline-block; 
}
.navbar > li > a{
    color: white;
    transition: all 0.2s;
  &:hover{
    color: $purple;
    background-color: white;
    font-weight:bold;
  }
}
.panel{
  border-radius: 10px;
}


/* middle */

.container{
  .jumboinitial{
    background-color: white;
    border-radius: 100%;
    padding: 16.7% 16%;
    margin: 0;
    @include card;
    h1{
      color:$purple;
      font-weight: bold;
    }
    
  }
}

.purple-button{
  @include button_personalize($purple);
  
}

.red-button{
  @include button-personalize($red-transparent);
}

.background-system{
  background-color: white;
  border-radius:0 !important;
  margin: 0 auto;
  color: black;
  @include card;
  h1{
      color:$purple;
      font-weight: bold;
    }

}

.project{
  table{
    background-color: black;
    color: white;
    thead th{
      background: $purple;
      padding: 10px;
      font-size: 1.3em;
      border-left: 1px solid white;
      vertical-align: middle;
    }
    tbody {
      th{
        font-size: 1.2em;
      }
      tr:hover{
        background: $purple-transparent;
      }
    }
    a {
      padding: 5px;
    }
    
  }
  a:hover{
    color: $purple;
  }
}

.background-system.project-create{ 
  max-width: 670px;
  padding-left: 8%;
  padding-right: 8%;
  a{
    margin-top: 20px;
  }
  
}

.project-show{
  @include show-content ($purple);
  h1{
    margin-top: 0px;
  }
  h3{
    color: #7c4dff;
    font-weight: bold;
    margin-bottom: -0.1em;
    margin-left: 0.9em;
    font-size: 2.2em;
  }
}


.project, .bug{
  overflow-x:auto;
}
.bug{
  background-color: $red-transparent;
  color: white;
  h1{
    color: white;
  }
  thead th{
    background: black;
  }
  tbody {
    th{
      font-size: 1.2em;
    }
    tr:hover{
      background: $black-transparent;
    }
  }
  a:hover{
    color: red;
  }
}

.new_bug{
  background: red;
  margin: 0 auto;
  max-width: 500px;
  border-radius: 100px !important;
  .formtastic{
    background: red !important;
    .input .label{
        color: white;
    }
  }
  
}

.bug-show{
  @include show-content (white);
  background: $red_transparent;
  color: white;
  border: solid;
  border-radius: 100px !important;
}

.end-of-content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 10px;

}


/* footer */

footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  a {
    color: white;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    margin: 0px;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*formtastic*/

form.formtastic fieldset ol li.fl {float: left; margin-right: 2em;}

.formtastic {
  .actions{
    padding-left: 0px !important;
    .action{
      float: none;
      width: 100% ;
      padding-right : 0px !important;
    }
  }
  .btn-block{
    height: 30px;
  }
  .inline-errors{
    display: none;
  }
  .input .label{
      color: black;
      font-size: 1em;
      display: block;
      float: none;
      width: 0px !important;
  }
  .stringish {
    input{
      width: 100% !important;
      padding-left: 10px;
    }
    input[size]{
      max-width: 100% !important;
      width: auto !important;
      clear: both;
    }
    label{
        width:0 !important;
    }
  }
  
  .text textarea {
    width: 100%  !important; 
    height: 10em  !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  .formtastic .fragments-group {
  }
}


/*flash and other messages*/

.alert-alert,.alert-error {
    background-color: $red-transparent;
    @include alert-properties;
 }

.alert-success, .alert-notice {
    background-color: $green-transparent;
    @include alert-properties;
 }

.list-errors{
  list-style-type: square !important;
  padding-left: 3.5% !important;
}

.form-group {
  .error{
    .form-control{
      border: 1px dashed red;
      &:focus{
        -webkit-box-shadow: none!important;
        -moz-box-shadow: none!important;
        box-shadow: none!important;
      }
    }
    
  }
}

.alert-error-style{
  padding: 10px;
  background: $red-transparent;
  color: white;
  font-size: 13px !important;
  text-align: left;
  strong{
    font-weight: bold !important;
    font-size: 15px;
  }
}