- if object.errors.any?
    div class="alert alert-error-style list-group"    
      p
        strong This form contains #{pluralize(object.errors.count, 'error')}
      ul class="list-errors"
        - object.errors.full_messages.each do |msg| 
          li
            = msg
            
            
