header.navbar.navbar-fixed-top.navbar-inverse.menu-bar
  .container 
    #logo = link_to (root_path) do "Inventos Challenge" end
    nav
      ul.nav.nav-bar
        li = link_to "Home",   root_path
        - if user_signed_in?
          li = link_to "Log out",    destroy_user_session_path, method: :delete 
        - else 
          li = link_to "Log in", new_user_session_path
