<!DOCTYPE html>
html
  head
    title #{full_title(yield(:title))}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' 
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
    link href="https://fonts.googleapis.com/css?family=Khula:400,700" rel="stylesheet"
  body
    = render 'layouts/header'
    div class="container"
      = render 'layouts/flash_messages'
      = yield
    = render 'layouts/footer'
