= content_for :title do
  = 'Registration'

.text-center
  h1 Create your account

.row
  .col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-2.col-sm-8.col-xs-12
    .panel.panel-default
      .panel-body
        = semantic_form_for resource, :url => registration_path(resource_name) do |f|
        
          - unless resource.errors.empty?
              = render 'layouts/error_signup_messages', object: resource               
              
          = f.inputs do
            .form-group
              = f.input :name, :input_html => {:autofocus => true, :class => "form-control" }
            .form-group
              = f.input :email,  :input_html => {:autocomplete => "off", :class => "form-control"}
            .form-group
              = f.input :password, :input_html => {:autocomplete => "off", :class => "form-control"}
            .form-group
              = f.input :password_confirmation, :required => true, :input_html => {:autocomplete => "off", :class => "form-control"}
          
          = f.actions do
            = f.action :submit, :label => "Sign in", :button_html => { :disable_with => t(:wait), :class => "btn btn-success btn-block" }


